{
  "printWidth": 90,
  "semi": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "trailingComma": "all",
  
  "importOrder": ["^react$","^@?\\w","^@/(.*)$","^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
